<section class="content-main">
  <div class="row">
    <div class="col-9">
      <div class="content-header">
        <h2 class="content-title">Add New Product</h2>
      </div>
    </div>



    <form action="/admin_panel/products/add_product" method="POST" enctype="multipart/form-data">
      <div class="col-lg-10">
        <div class="card mb-4">
          <div class="card-header">
            <h4>Basic</h4>
          </div>
          <div class="card-body">
            <div class="mb-4">
              <label for="product_name" class="form-label">Product title</label>
              <input required name="name" type="text" placeholder="Type here" class="form-control" id="product_name">
            </div>
            <div class="mb-4">
              <label for="product_slug" class="form-label">Slug</label>
              <input name="brand" type="text" placeholder="Type here" class="form-control" id="product_slug">
            </div>
            <div class="mb-4">
              <label class="form-label">Description</label>
              <textarea required name="description" placeholder="Type here" class="form-control" rows="8"></textarea>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-4">
                  <label class="form-label">Regular price</label>
                  <div class="row gx-2">
                    <input required name="price" placeholder="₹" type="number" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-4">
                  <label class="form-label">Offer price</label>
                  <div class="row gx-2">
                    <input required name="offerprice" placeholder="₹" type="number" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-4">
                  <label class="form-label">Quantity</label>
                  <div class="row gx-2">
                    <input required name="quantity" placeholder="Quantity Type here" type="number" class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- card end// -->
      </div>
      <div class="col-lg-10">
        <div class="card mb-4">
          <div class="card-header">
            <h4>Media</h4>
          </div>
          <div class="card-body">
            <div class="input-upload">
              <img src="/imgs/theme/upload.svg" id="imgView1" alt="">
              <input name="image" multiple class="form-control" onchange="viewImage1(event)" type="file">
            </div>
          </div>
        </div> <!-- card end// -->
      </div>
      <div class="col-lg-12 d-flex  justify-content">
        <div class="card ml-4">
          <div class="card-header">
            <h4>Media</h4>
          </div>
          <div class="card-body">
            <div class="input-upload">
              <img src="/imgs/theme/upload.svg" id="imgView2" alt="">
              <input name="image" multiple class="form-control" onchange="viewImage2(event)" type="file">
            </div>
          </div>
        </div> <!-- card end// -->
        <div class="card mx-4">
          <div class="card-header">
            <h4>Media</h4>
          </div>
          <div class="card-body">
            <div class="input-upload">
              <img src="/imgs/theme/upload.svg" id="imgView3" alt="">
              <input name="image" multiple class="form-control" onchange="viewImage3(event)" type="file">
            </div>
          </div>
        </div> <!-- card end// -->
        <div class="card mb-4">
          <div class="card-header">
            <h4>Media</h4>
          </div>
          <div class="card-body">
            <div class="input-upload">
              <img src="/imgs/theme/upload.svg" id="imgView4" alt="">
              <input name="image" multiple class="form-control" onchange="viewImage4(event)" type="file">
            </div>
          </div>
        </div> <!-- card end// -->
      </div>
      <div class="col-lg-10">
        <div class="card mb-4">
          <div class="card-header">
            <h4>Categories</h4>
          </div>
          <div class="card-body">
            <div class="row gx-2">
              <div class="col-sm-6 mb-3">
                <label class="form-label">Category</label>
                <select name="category" class="form-select">
                  <% category?.forEach(element => { %>
                  <option><%= element?.categories %> </option>
                  <%  }); %>
                </select>
              </div>

            </div> <!-- row.// -->
          </div>
        </div> <!-- card end// -->
      </div>
      <div class="col-lg-10">
        <div class="card mb-4">
          <div class="card-body">
            <button type="submit" class="btn btn-md rounded font-sm hover-up">Publish</button>
            <a href="/admin_panel/products" class="btn btn-light rounded font-md ms-1">Cancel</a>
          </div>
        </div>
      </div>
    </form>

  </div>
</section>
<script>
  function viewImage1(event) {
    document.getelementById('imgView1').src = URL.createObjectURL(event.target.files[0])
  }

  function viewImage2(event) {
    document.getelementById('imgView2').src = URL.createObjectURL(event.target.files[0])
  }

  function viewImage3(event) {
    document.getelementById('imgView3').src = URL.createObjectURL(event.target.files[0])
  }

  function viewImage4(event) {
    document.getelementById('imgView4').src = URL.createObjectURL(event.target.files[0])
  }
</script>