<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="/admin_panel" class="brand-wrap">
            <img src="/imgs/theme/logo.svg" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item ">
                <a class="menu-link" href="/admin_panel"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="/admin_panel/products?page=1&limit=5"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
                <div class="submenu">
                    <a href="/admin_panel/products?page=1&limit=5"">Product List</a>
                    <a href="/admin_panel/category">Categories</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="/admin_panel/order_management"> <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
                <div class="submenu">
                    <a href="/admin_panel/order_management">Order list </a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-person"></i>
                    <span class="text">Users</span>
                </a>
                <div class="submenu">
                    <a href="/admin_panel/users?page=1&limit=2">Users list</a>
                </div>
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="/admin_panel/copoun"> <i class="icon material-icons md-add_box"></i>
                    <span class="text">Add coupon</span>
                </a>
                <div class="submenu">
                    <a href="/admin_panel/copoun">Add copoun </a>
                </div>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin_panel/banner"> <i class="icon material-icons md-stars"></i>
                    <span class="text">Banner</span> </a>
            </li>
        </ul>
        <hr>
        <ul class="menu-aside">
           

                    
        </ul>

        <div class="sidenav-footer mx-3 ">
            <div class="card card-plain shadow-none" id="sidenavCard">
              <img class="w-50 mx-auto" src="https://dmart.tk/assets/img/illustrations/icon-documentation.svg" alt="sidebar_illustration">
              <div class="card-body text-center p-3 w-100 pt-0">
                <div class="docs-info">
                  <h6 class="mb-0">Sales Report</h6>
                  <p class="text-xs font-weight-bold mb-0">pdf / excel</p>
                </div>
              </div>
            </div>
            <a onclick="generateExcel()" class="btn btn-primary btn-sm mb-0 w-100" type="button">Excel</a>
            
          </div>

        <br>
        <br>
    </nav>
</aside>