
<style>
    .search-wrapper {
      display: flex;
      flex-direction: column;
      gap: .25rem;
    }
    .card {
      border-bottom: 0.4px solid black;
      /* background-color: white; */
      padding: 1.0rem;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      
    }
    .card>.header {
      margin-bottom: .25rem;
    }
    .card>.body {
      font-size: .8rem;
      color: #777;
    }
    .hide {
      display: none;
    }
    .sdiv {
      position: absolute;
      z-index: 13;
      top: 114px;
      transform: translateX(76%);
      width:  570px;
      margin-top: 35px;
      margin-left: 5px;
    }
    .searchBar {
      z-index: 3;
    }
  </style>
<header class="header-area header-style-1 header-height-2">
    <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info">
                        <ul>
                            <li><i class="fi-rs-smartphone"></i> <a >+917306287992</a></li>
                            <li><i class="fi-rs-marker"></i><a href="/contact">Our location</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-4">
                    <div class="text-center">
                        <div id="news-flash" class="d-inline-block">
                            <ul>
                                <li>Get great devices up to 50% off <a >View details</a></li>
                                <li>Supper Value Deals - Save more with coupons</li>
                                <li>Trendy 25silver jewelry, save up 35% off today <a >Shop
                                        now</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info header-info-right">
                        <ul>
                            <li >
                                <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English 
                                        </a>
                            </li>
                            <% if(!locals.user){ %>
                                <li><i class="fi-rs-user"></i><a href="/user_signin">Log In /</a><a
                                        href="/user_registration">Sign Up</a></li>

                                <% }else{ %>
                                    <li class="dropdown nav-item ">
                                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/imgs/people/avatar2.jpg" alt="User" style="max-width: 21%;"></a>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                            <a class="dropdown-item" href="/my-account/profile"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                                            <a class="dropdown-item" href="/my-account"><i class="material-icons md-settings"></i>Account Settings</a>
                                            <a class="dropdown-item" href="/my-account/orders"><i class="material-icons md-receipt"></i>Orders</a>
                                            <a class="dropdown-item" href="/contact"><i class="material-icons md-help_outline"></i>Help center</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item text-danger" href="/user_logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                                        </div>
                                    </li>
                                    
                                    <% } %>

                                    

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a href="/"><img src="/assets/imgs/theme/logo.svg" alt="logo" /></a>
                </div>
                <div class="header-right">
                    <div class="search-style-2">
                        <form action="#">
                          
                            <input onkeyup="closeSearch()" autocomplete="off" type="search" class="form-control searchBar" name="q" id="search" data-search placeholder="Search for items..." required>
                        </form>
                    </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img class="svgInject" alt="Evara" src="/assets/imgs/theme/icons/icon-heart.svg" />
                                    <span class="pro-count blue" id="wishlist-count"><%= locals.wishlistCount %></span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="/assets/imgs/theme/icons/icon-cart.svg" />
                                    
                                    <span class="pro-count blue" id="cart-count"><%= locals.cartCount %> </span>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
                <div class="logo logo-width-1 d-block d-lg-none">
                    <a href="/"><img src="/assets/imgs/theme/logo.svg" alt="logo" /></a>
                </div>
                <div class="header-nav d-none d-lg-flex ">
                    <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block  " >
                        <nav>
                            <ul>
                                <li><a  href="/">Home</a>
                                </li>
                                
                                <li><a href="/shop">Shop</i></a>
                                </li>
                              
                                <li><a href="/blog">Blog</a>
                                    
                                </li>
                                
                                <li>
                                    <a href="/contact">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="hotline d-none d-lg-block">
                    <p><i class="fi-rs-headset"></i><span>Hotline</span> 1900 - 888 </p>
                </div>
                <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</p>
                <div class="header-action-right d-block d-lg-none">
                    <div class="header-action-2">
                        <div class="header-action-icon-2">
                            <a href="/wishlist">
                                <img alt="Evara" src="/assets/imgs/theme/icons/icon-heart.svg" />
                                <span class="pro-count white" id="wishlist-count"><%= locals.wishlistCount %></span>
                            </a>
                        </div>
                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon" href="/cart">
                                <img alt="Evara" src="/assets/imgs/theme/icons/icon-cart.svg" />
                                <span class="pro-count white"  id="cart-count"><%= locals.cartCount %> </span>
                            </a>
                        </div>
                        <div class="header-action-icon-2 d-block d-lg-none">
                            <div class="burger-icon burger-icon-white">
                                <span class="burger-icon-top"></span>
                                <span class="burger-icon-mid"></span>
                                <span class="burger-icon-bottom"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  
</header>



<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
      <div class="mobile-header-top">
        <div class="mobile-header-logo">
          <a href="/"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
        </div>
        <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
          <button class="close-style search-close">
            <i class="icon-top"></i>
            <i class="icon-bottom"></i>
          </button>
        </div>
      </div>
      <div class="mobile-header-content-area">
        <div class="mobile-search search-style-3 mobile-header-border">
          <form action="#">
            <input onkeyup="closeSearch()" autocomplete="off" type="search" class="form-control searchBar" name="q" id="search" data-search placeholder="Search for items..." required>
            <button type="submit"><i class="fi-rs-search"></i></button>
          </form>
        </div>
        <div class="mobile-menu-wrap mobile-header-border">
          <!-- mobile menu start -->
          <nav>
            <ul class="mobile-menu">
              <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>
                <ul class="dropdown">          
                        <li><a  href="/">Home</a>
                        </li>          
                </ul>
              </li>
              <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/shop">shop</a>
                <ul class="dropdown"> 
                        <li><a href="/shop">Shop</i></a>
                        </li>
                </ul>
              </li>
             
              <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/blog">Blog</a>
                <ul class="dropdown">
                        <li><a href="/blog">Blog</a>
                        </li>
                </ul>
              </li>
              <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/contact">Contact</a>
                <ul class="dropdown">    
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                </ul>
              </li>
            </ul>
            
          </nav>
          <!-- mobile menu end -->
        </div>
        <div class="mobile-header-info-wrap mobile-header-border">
          <div class="single-mobile-header-info">
            <% if(!locals.user){ %>
                <li><i class="fi-rs-user"></i><a href="/user_signin">Log In /</a><a
                        href="/user_registration">Sign Up</a></li>

                <% }else{ %>
                    <li class="dropdown nav-item ">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/imgs/people/avatar2.jpg" alt="User" style="max-width: 21%;"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="/my-account/profile"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="/my-account"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="/my-account/orders"><i class="material-icons md-receipt"></i>Orders</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/user_logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                    
                    <% } %>

          </div>
         
        </div>
        <div class="mobile-social-icon">
          <h5 class="mb-15 text-grey-4">Follow Us</h5>
          <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
          <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
          <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
          <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
          <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
<div class=" sdiv d-none d-lg-block">
    <div class="user-cards" data-user-cards-container></div>
    <template data-user-template  >
      <div class="card" id="cardSearch" onclick="myFunction(this.querySelector('p'))" style="position: relative;">
        <div class="header" data-header></div>
        <div class="body" data-body></div>
        <p class="_id" id="idSearch" hidden data-id></p>
        <img data-img src="" style="height: 50px; width:50px; position: absolute; right: 10px;">
      </div>
    </template>
  </div>

<script>
     const userCardTemplate = document.querySelector("[data-user-template]")
  const userCardContainer = document.querySelector("[data-user-cards-container]")
  const searchInput = document.querySelector("[data-search]")
  let boolSearch = userCardContainer.classList
  if (searchInput.value.trim().length == 0) {
    boolSearch.add("hide")
  } else {
    boolSearch.remove("hide")
  }
  let products = [new Set()]
  searchInput.addEventListener("input", e => {
    const value = e.target.value.trim().toLowerCase()
    products.forEach(product => {
      const isVisible =
        product.name.toLowerCase().includes(value) ||
        product.category.includes(value)
      product.element.classList.toggle("hide", !isVisible)
    })
  })
    fetch("/getProductData", {
      method: 'get',
      headers: {
        'Content-Type': 'application/json',
      },
    })
    .then(res => res.json())
    .then(data => {
      products = data.map(product => {
        const card = userCardTemplate.content.cloneNode(true).children[0]
        const header = card.querySelector("[data-header]")
        const body = card.querySelector("[data-body]")
        const id = card.querySelector("[data-id]")
        const image = card.querySelector("[data-img]")
        header.textContent = product.name
        body.textContent = product.category
        id.textContent = product._id
        image.src = `/productImages/${product._id}1.jpg`
        userCardContainer.append(card)
        return {
          name: product.name,
          category: product.category,
          id: product._id,
          element: card
        }
      })
    })
  function myFunction(input) {
    let tag = input.innerText
    location.href = `/view_product/${tag}`
  }
  function closeSearch() {
    let boolSearch = userCardContainer.classList
    if (searchInput.value.trim().length == 0) {
      boolSearch.add("hide")
    } else {
      boolSearch.remove("hide")
    }
  }
</script>