<style>
  .pt {
    padding-top: 30px;
  }
</style>
<main class="main">
  <section class="pt-150 pb-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 m-auto">
          <div class="row" style="display: flex;justify-content: center;">
            <div class="col-lg-5">
              <div
                class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                <div class="padding_eight_all bg-white">
                  <div class="heading_s1">
                    <h3 class="mb-30">Login</h3>
                  </div>
                  <form method="post" action="">
                    <p id="error" class="text-center" style="color: rgb(400, 90, 32);"></p>
                    <div class="form-group">
                      <input type="text" required="" name="email" placeholder="Your Email" id="email">
                      <p class='d-flex justify-content-center' style="color: rgb(400, 90, 32);">
                      </p>
                    </div>
                    <div class="form-group">
                      <input required="" type="password" name="password" placeholder="Password" id="password">
                      <p class='d-flex justify-content-center' style="color: rgb(400, 90, 32);">
                      </p>
                    </div>
                    <div class="login_footer form-group">
                      <div class="chek-form">
                        <div class="custome-checkbox">
                          <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1"
                            value="">
                          <label class="form-check-label" for="exampleCheckbox1"><span>Remember me</span></label>
                        </div>
                      </div>
                      <a class="text-muted" href="#">Forgot password?</a>
                    </div>
                    <div class="form-group ">
                      <button type="button" class="btn btn-fill-out btn-block hover-up" onclick="Login()"
                        name="login">Log in</button>

                      <a href="/otp_page"
                        class="btn btn-outline btn-lg btn-brand-outline font-weight-bold text-brand bg-white text-hover-white ml-15 border-radius-5 btn-shadow-brand hover-up"
                        name="login">Login with OTP</a>

                    </div>


                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-1"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
  function Login() {
    const email = document.getElementById('email')
    const password = document.getElementById('password')

    const emailvalue = email.value.trim();
    const passwordvalue = password.value.trim();


    const error1 = email.parentElement.querySelector('p');
    const error2 = password.parentElement.querySelector('p');


    error1.innerText = "";
    error2.innerText = "";

    const arr = [email, password]

    arr.forEach((e) => {
      e.addEventListener("keyup", () => {
        e.parentElement.querySelector('p').innerText = ""
      })
    })




    let flag = 1;

    if (emailvalue == "") {
      error1.innerText = "This field is required"
      flag = 2;
    } else if (!emailvalue.match(/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)) {
      error1.innerText = "Enter valid details"
      flag = 2;
    }


    if (passwordvalue == "") {
      error2.innerText = "This field is required"
      flag = 2;
    }




    if (flag == 1) {
      submitLogin(emailvalue, passwordvalue)

    }


    function submitLogin(Email, Password) {
      fetch('/user_signin', {
        method: "POST",
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          email: Email,
          password: Password
        })
      }).then(res => res.json()).then((res) => {
        if (res.value == "Successlogin") {
          window.location.href = "/"
        } else if (res.value == "block") {
          document.getElementById('error').innerText = 'Admin Was Bolcked You'
        }
        else {
          document.getElementById('error').innerText = "Invalid email or password"
        }
      })
    }




  }
</script>