
<main class="main">
    <div class="page-header breadcrumb-wrap">
      <div class="container">
        <div class="breadcrumb">
          <a href="index.html" rel="nofollow">Home</a>
          <span></span> My account
        </div>
      </div>
    </div>
    <section class="pt-150 pb-150">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 m-auto">
            <div class="row">
              <div class="col-md-4">
  
                <div class="dashboard-menu">
                  <ul class="nav flex-column" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" href="/my-account"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/my-account/orders"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                    </li>
                    <li class="nav-item">
                      <a href="/my-account/address" class="nav-link"><i class="fi-rs-marker mr-10"></i>My Address</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/my-account/profile"><i class="fi-rs-user mr-10"></i>Account details</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" onclick="swalpopUpSign()"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                    </li>
                  </ul>
                </div>
  
  
  
              </div>
              <% function add(accumulator, a) {
                
                return accumulator + a;
              } %> 
              <% const total =userData[0].wallet.reduce(add, 0) %>
         
              <div class="col-md-8">
                <div class="tab-content dashboard-content">
                  <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                    <div class="card">
                      <div class="card-header">
                        <h5 class="mb-0">Hello <%= locals?.user?.fName %>!</h5>
                      </div>
                      <div class="card-body">
                        <p>From your account dashboard. you can easily check &amp; view your <a href="/my-account/orders">recent orders</a>, manage your <a href="/my-account/address">addresses</a> and <a href="/my-account/edit">edit your password and account details.</a></p>
                      </div>
                      <div class="card-body">
                        <p>Wallet: <b> <%= total %> </b> </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <script>
    function swalpopUpSign() {
    Swal.fire({
      position: 'top',
      icon: 'warning',
      title: 'Are you sure',
      text: 'want to Log out?',
      showDenyButton: true,
      confirmButtonText: 'Yes, Logout',
      denyButtonText: `No`,
    }).then((result) => {
      /* Read more about isConfirmed, isDenied below */
      if (result.isConfirmed) {
        Swal.fire('Successfully logout!', '', 'success').then(() => {
          location.href = "/user_logout"
        })
      }
    })
  }
  </script>